@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p {
  color: #ccc;
}

img {
  object-fit: cover;
}

body {
  background: rgb(29, 147, 247);
  background: linear-gradient(90deg, rgb(15, 85, 146) 0%, rgb(87, 87, 87) 100%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 2px;
}

nav .logo i {
  background: #35e6d7;
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background: #171717;
  gap: 10px;
  border-radius: 50px;
}

nav .nav-links a {
  color: #fff;
  transition: all 0.3s ease;
}

nav .nav-links a:hover {
  color: #35e6d7;
}

nav .nav-links .separator {
  width: 5px;
  height: 5px;
  background: #35e6d7;
  border-radius: 50%;
}

nav .nav-links p {
  font-size: 13px;
}

nav .login {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 50px;
}

header {
  width: 100%;
}

header h1 {
  color: #ccc;
  font-size: 140px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  width: 80%;
  margin: 36px auto 0;
}

.container_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 70vh;
  margin: 0 auto;
  position: relative;
}

.container_header .images {
  width: 100%;
  height: 100%;
  position: relative;
}

.container_header .images img {
  width: 100%;
  height: 550px;
  border-radius: 10px;
}

.container_header .list_button {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.container_header .list_button button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.6s ease, transform 0.2s ease;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_button button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0 20px #0056b3;
}

.container_header .list_button #prev {
  margin-left: 10px;
  font-size: 20px;
}

.container_header .list_button #next {
  margin-right: 10px;
  font-size: 20px;
}

.container_images {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.container_images img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container_images img.active,
.container_images img:hover {
  border: 1px solid #fff;
  transform: scale(1.02);
}

.display__container {
  padding: 2rem 1rem;
}

.section__container {
  width: 100%;
  margin: 50px auto 0;
  text-align: center;
}

.section__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ccc;
  font-weight: bold;
}

.section__subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #ccc;
}

.display__grid {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.display__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-width: 40%;
}

.display__card img {
  max-width: 100%;
  border-radius: 10px;
}

.display__card i {
  font-size: 2rem;
  color: #ccc;
}

.display__card h4 {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0 1rem;
  color: #ffffffec;
}

.display__card p {
  font-size: 1rem;
  padding: 0 4rem;
  color: #ccc;
  text-align: justify;
}

.showcase {
  padding: 40px 80px;
  margin-top: 20px;
  border-radius: 20px;
}

.showcase h3 {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.showcase .text-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

.showcase .text-sec .images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.showcase .text-sec .images .image {
  text-align: center;
  height: auto;
  background: #2e2c29;
  border-radius: 20px;
}

.showcase .text-sec .images img {
  width: 400px;
  border-radius: 20px;
  border: 2px solid #c5c5c5;
  transition: transform 0.3s ease;
}

.showcase .text-sec .images img:hover {
  transform: scale(1.05);
}

.showcase .text-sec .images h2 {
  margin: 15px;
  color: #c5c5c5;
  font-size: 18px;
  font-weight: bold;
}

.showcase .text-sec .images p {
  color: #c5c5c5;
  font-size: 16px;
  width: 300px;
  margin: 5px auto 25px;
  text-align: justify;
}

.services .header,
.video-sec .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px 0;
}

.services .header h3,
.video-sec .header h3 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  width: 60%;
}

.services .service-items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 80px;
  padding-bottom: 40px;
}

.services .service-items .item {
  background: #171717;
  padding: 30px;
  border-radius: 40px;
  width: 30%;
  height: 350px;
  transition: 0.6s ease;
  margin: 0 auto;
}

.services .service-items .item:hover {
  transform: scale(1.05);
}

.services .service-items .item .title {
  display: flex;
  align-items: center;
  background: #2e2c29;
  padding: 5px 20px 5px 5px;
  gap: 10px;
  width: fit-content;
  border-radius: 50px;
  margin-bottom: 30px;
}

.services .service-items .item .title .gradient {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.services .service-items .item .desc h5 {
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
}

.services .service-items .item.active,
.services .service-items .item:hover {
  border: 2px solid #fff;
}

.services .service-items .item.active .title {
  background: #000;
}

.services .service-items .item.active .desc h5 {
  color: #000;
}

.services .service-items .item.active .desc p {
  color: #1f1f1f;
  font-size: 20px;
}

.video-sec .header h3 {
  text-align: right;
}

.video-sec .video {
  margin: 20px 0 40px;
  padding: 0 80px;
  position: relative;
  text-align: center;
}

.video-sec .video iframe {
  width: 90%;
  height: 520px;
  border-radius: 20px;
  margin: 0 auto;
}

.ytp-embed:not(.ad-showing) .ytp-title-text,
.html5-video-player a {
  display: none;
}

footer {
  background-color: #111;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #111;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.containerBook {
  margin: 30px;
}

.containerBook h1 {
  color: #ccc;
  padding: 0px 30px 40px 30px;
  font-weight: bold;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.book-ve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 80%;
  margin: 0px auto 50px;
}

.box-ve {
  width: 350px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.box-ve img {
  width: 100%;
  height: 250px;
  transition: all 0.3s ease;
}

.book-ve img:hover {
  transform: scale(1.05);
}

.adj {
  padding: 15px;
  text-align: left;
}

.adj span {
  font-size: 18px;
  color: #fff;
}

.adj p {
  margin: 10px 0;
  font-size: 16px;
}

.adj button {
  width: 9em;
  height: 3em;
  border-radius: 4px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.adj button a {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.adj button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fc1d8 0%, #474af9 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.adj button:hover::before {
  width: 9em;
}

.info-box {
  position: absolute;
  top: 58%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}
